<!DOCTYPE html>
{%extends 'recipes/base.html'%}
{%block body_block%}
<!--
<div class="container">
    <div class="row">
         <div class="col-4"></div>
         <div class="col-4">

                <div class="card" style="width: 18rem;">
                    <img src="{{recipe.recipe_image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{recipe.recipe_name}}</h5>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{recipe.ingredients}}</li>
                    </ul>

                </div>

         </div>
         <div class="col-4"></div>
    </div>

</div>-->



<div class="container">
    <div class="col-4"></div>
    <div class="col-4">

  <img src="{{recipe.recipe_image.url}}" class="card-img-top" alt="...">

        <ul><li>{{recipe.recipe_name}}</li>
            <li>{{recipe.ingredients}}</li>

    </div>
</div>
</div>
    <div class="col-4"></div>

    </div>

{%endblock%}-->